* { box-sizing: border-box;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Arial Narrow Bold', sans-serif
    
};


/* next 3 from Kyle. using in videos*/

.flexbox-container {display: flex;}

.flexbox-item {

                width: 50%;
                padding: 5px;
                border: .1em solid rgb(79, 77, 77);
                margin:auto;
                font-size: 1.4em;
                font-weight:lighter ;

}

.flexbox-item-1 {

                justify-content: center;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: center;
                /* min-height: 100vh ; */
            
                background:rgba(255, 255, 255, 0.8);

}

.flexbox-item-2 {

    justify-content: left;
    width:30%; 
    height:auto ;
    
}

.nav {    
    display: flex;
    /* position: fixed; */
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

nav a {text-decoration: none;}

.space {padding-left: 10px;}






.main-image {
    background-image: url("FIJimages/FIJ_Scanned.jpg");
    background-color:rgb(255, 255, 255);
    background-blend-mode:multiply;
    background-size:cover;
    min-height: 100vh;

}


.title {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    text-align: center ;
    font-family: Raleway;
    font-size:110px;
    color: hsl(0, 97%, 54%);
};











